{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <style>
    .text-dark {
      color: white !important;
    }
   

    @media (max-width: 426px) {
      .view-all {
      font-size: 13px !important;
    }
    .all {
      width: 90px;
    }

}.crt-btn{
  border: none;
    background-color: orange;
    padding: 15px;
    width: 200px;
    border-radius: 15px;
    outline: none;
}
.crt-p{
  width: 80%;
    margin-top: 50px;
}
.footer-scd{
  width: 18%;
}
@media(max-width:600px){
   .for-img{
     height: 70%;
   }
   .crt-p{
     width: 100%;
   }
   .footer-fst{
     display: flex;
     flex-direction: column;
   }
   .footer-scd{
     width: 100%;
     display: flex;
    flex-direction: column;
    align-items: center;
   }
   .footer-thr{
     text-align: center;
   }
 }
 @media(max-width:500px){
   .for-img{
     height: 70%;
   }
   .crt-p{
     width: 100%;
   }
   .footer-fst{
     display: flex;
     flex-direction: column;
   }
 }
  </style>
{% endblock %}

{% block content %}
    {% comment %} <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/navbar.css" /> {% endcomment %}
    
   
    <!-- End Links -->
  </head>
 

    <header class="header">
      <div class="header__container">
        <div class="header__title">
          <div class="input">
            <h2>Learn in practice</h2>
            <p>
              Taskilled - is online learning, internship, and job-seeking marketplace that helps students, businesses, and governments gain the skills they need by doing practical tasks.

By doing various practical tasks, students at the same time gain real work experiences, possibilities to earn money and in order to be hired.


            </p>
            <!-- <a href="{% url 'core:course-list' %}">
            <button class="mt-3" style="border: none; border-radius: 5px; background-color: darkcyan; padding: 15px; color: white;">See Courses</button>
          </a> -->
          <form class="nav2-search" action="">
          <input class="main-page-input nav2-input" type="text" placeholder="Looking for any tasks">
        </form>  
        </div>
        </div>
      </div>
    </header>
    <!-- Header end -->
    <section class="exam">
      <div class="exam__container">
        <div class="exam__title">
          <h2 class="form mb-4"
            >Popular Study Tasks
        </h2>
          <div class="all" style="border: 1px solid black; padding: 7px 13px; border-radius: 3px; color: black;">
            <a href="{% url 'core:course-list' %}" class="view-all" style="color: black; text-decoration: none;">View All</a>
          </div>
        </div>
        <div class="">
          <div class="row flexxx">
            
          </div>
        </div>
      </div>
    </section>
    <hr style="margin: 0;" />
   

    <section style="margin-bottom: 20px;">
      <h2 style="font-weight: 300;
      margin-top: 30px;
      margin-left: 50px;
      margin-bottom: -20px;
      color: darkblue;    display: flex;
      justify-content: space-between;">
        Internships Places
        <a style="margin-right: 50px; font-size: 17px; font-weight: normal;" href="{% url 'core:internship-list'%}">View all</a>
      </h2>
      
      <div class="container-fluid">
        
        <div class="row flexxx" id="fleximg2">
          
        </div>
      </div>
    </section>
    <hr style="margin: 0;" />
    <section class="exam" style="padding-top: 25px">
      <div class="exam__container">
        <div class="exam__title">
          <h2 class="form" style="margin-bottom: 30px !important;"
            >Latest Business Tasks
        </h2>
          <div class="all" style="border: 1px solid black; padding: 7px 13px; border-radius: 3px; color: black;">
            <a href="{% url 'core:btask-list' %}" class="view-all" style="color: black; text-decoration: none;">View All</a>
          </div>
        </div>
        <div class="">
          <div class="row" id="fleximg3">
            
          </div>
        </div>
      </div>
    </section>
    <hr style="margin: 0;" />


    <section class="work" style="padding-top: 50px;">
      <div class="work__container">
        <div class="work__title row">
          <div class="worktext col-md-5 col-12">
            <h3>How we work</h3>
            <p style="margin-top: 40px; width: 80%;">
              A.    Apply for the pleasant practical tasks</p>
              <p style="margin-top: 40px; width: 80%;">
                B.    Take part in the solution process</p>
                <p style="margin-top: 40px; width: 80%;">
                  C.    Get feedback and create a better portfolio</p>
                  <p style="margin-top: 40px; width: 80%;">
                    D.   Achieve your goal: generate income or be hired</p>
          </div>
          <div class="workvideo col-md-7 col-12" style="width: 100%;">
            <iframe width="100%" height="400" style="border-radius: 5px;" src="https://www.youtube.com/embed/1ex_bNIFR1A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
    <hr />

    <section id="for-study">
      
      <div class="container-fluid" style="padding-top: 25px;">
        <div class="row" style="padding: 5px 42px;">
          <h3 style="color: rgb(245,224,73);">For STUDY task creating </h3>
        </div>
        <div class="row" style="padding: 30px;">
          <div class="col-md-6 col-12 " style="padding-top: 15px;">
            <h3>
              500 Insights
            </h3>
            <p style="line-height: 25px; font-weight: 200;">
              A better way to increase the auditorium is creating a task-based online course. We provide practical tools which give the opportunity for creating enjoyable programs for users.

              Task-based and experience-oriented programs make our platform more attractive and beneficial.
            </p>
          </div>
          <div class="col-md-6 col-12" style="width: 400px; height: 370px;">
            <img class="for-img" style="width: 100%; height: 100%;" src="https://images.unsplash.com/photo-1558403194-611308249627?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
          </div>
        </div>
      </div>

    </section>

    

    <section style="background-color: rgb(252, 240, 216); padding: 25px; max-height: 800px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-12" style="text-align: right; margin-top: 50px; display: flex; justify-content: center;">
            <img src="https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="" style="width: 370px; border-radius: 5px;">
          </div>
          <div class="col-md-6 col-12" style="padding-left: 40px;">
            <h2>Create Business Tasks</h2>
            <p class="crt-p" style="width: 400px; margin-top: 50px;">Recruit employees based on the competition with the creating tasks.

              Creating short tasks also will help you to hire freelancers.</p>
            <a style="outline: none; border: none;" href=""><button class="crt-btn">Create</button></a>
          </div>
        </div>
      </div>
    </section>
    <footer class="bg-dark text-center text-white mt-0 display">

      <div class="d-flex text-center footer-fst">

      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Form -->
        <section class="">
          <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
              <!--Grid column-->
              <div class="col-auto">
                <p class="pt-2">
                  <strong>Subscribe</strong>
                </p>
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-md-5 col-12">
                <!-- Email input -->
                <div class="form-outline form-white mb-4">
                  <input type="email" id="form5Example2" class="form-control" placeholder="Email address" />
                  <label class="d-none form-label" for="form5Example2">Email address</label>
                </div>
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-auto">
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-light mb-4">
                  Submit
                </button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
        </section>
        <!-- Section: Form -->
      </div>
      <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-youtube"></i
          ></a>
    
          <!-- Google -->
          <!-- <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-google"></i
          ></a> -->
    
          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <!-- <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
          ></a> -->
          <!-- Github -->
          <!-- <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ></a> -->
        </section>
        <!-- Section: Social media -->
      </div>
      
    </div>

<div class="row m-0">
  <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-2">
    <h6 class="">For students</h6>

    <ul class="list-unstyled mb-5">
      <li>
        <a href="{% url 'core:student-profile' %}" class="text-white">My account</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-2 footer-scd " style="text-align: start">
    <h6 class="">About company</h6>

    <ul class="list-unstyled mb-5" style="text-align: start;">
      <li class="mb-2">
        <a href="" class="text-white">Active program</a>
      </li>
      <li>
        <a href="" class="text-white">Contact us</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-2" style="text-align: start;">
  

    <ul class="list-unstyled mb-5" style="text-align: start;">
      <li class="mb-2 footer-thr">
        <a href="" class="text-white">Create Task</a>
      </li>
    </ul>
  </div>
</div>
      <!-- Grid container -->
    
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="http://taskilled.com/">Taskilled</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
{% endblock %}

{% block js %}
    
<script>
  localStorage.removeItem('search_result')
</script>

    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}