{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
 <!-- <link rel="preconnect" href="https://fonts.gstatic.com" /> -->
      <link
        href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
        rel="stylesheet"
      />
{% endblock %}

{% block content %}
      
     

    
    <section class="main" style="width: 90%; margin:auto">
        <div class="row">
            <div class="ulclass mt-5 col-3">
                <ul class="lef-ul">
                    <li class="mt-4">
                        <a href="" class="sidebar-items">
                            Created
                        </a>
                    </li>
                    <li class="mt-4">
                        <a href="" class="sidebar-items">
                            Shared
                        </a>
                    </li>
                    <li class="mt-4">
                        <a href="{% url 'core:create-course' %}" class="sidebar-items">
                            Create Course
                        </a>
                    </li>
                    <li class="mt-4">
                        <a href="{% url 'core:edit-profile' %}" class="sidebar-items">
                            Edit Profile
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-1">

            </div>
            <div class="col-8 mt-5">
                <h2>Created</h2>
                <div class="row created-section">
<div class="d-flex" style="overflow: scroll; width: 860px;">

    <div id="course-here" class="d-flex"></div>
    <a href="{% url 'core:create-course' %}">
        <i class="far fa-plus-square" style="font-size: 40px; color: grey;"></i>

    </a>
</div>

                    <!-- <div class="col-3 created">
                        <div class="card">
                            <div class="for-image">
                                <img src="https://cdn.mos.cms.futurecdn.net/wtqqnkYDYi2ifsWZVW2MT4-1200-80.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body p-0">
                              <h5 class="card-title text-center mt-2">Some course</h5>
                            </div>
                          </div>
                    </div> -->
                    <div>
                        
                    </div>
                    <!-- <div class="col-3 created">
                        <div class="card" style="border: none;">
                            <div class="for-image" style="margin-top: 27%; margin-left: 8px;">
                                <img src="download.png" style="background-color: white;" class="card-img-top" alt="...">
                                
                            </div>
                          </div>
                    </div> -->
                    
                    <div>
    <h2 class="mt-5" style="padding: 10px;">Paylaşdığınız kurslar</h2>
    <div class="d-flex" style="overflow: scroll; width: 860px;">
        <div id="shared-course-here" class="d-flex" >
        </div>
    </div>
   
</div>
                    
                </div>
            </div>
        </div>
    </section>
    <div class="p-5">
        <!-- <div id="editor">This is some sample content.</div> -->

    </div>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script>
        // ClassicEditor
        //         .create( document.querySelector( '#editor' ) )
        //         .then( editor => {
        //                 console.log( editor );
        //         } )
        //         .catch( error => {
        //                 console.error( error );
        //         } );
</script>
    {% endblock %}